<%- include('../partials/head'); %>

<%- include('../partials/header'); %>

<main class="container m-t-100">
  <section class="d-flex flex-wrap mb-2 mt-2">
    <% articles.forEach(function(item, index) { %>
      <div class="card card-shadow width-225px m-2">
        <img class="card-img-top" src="<%= (item.urlToImage && item.urlToImage.length) ? item.urlToImage : 'https://bit.ly/2xmhD7u' %>">
        <div class="card-body">
          <h5 class="card-title clamp line-1"><%= item.title %></h5>
          <p class="card-text clamp line-3"><%= item.description %></p>
          <a href="<%= item.url %>" class="btn btn-primary" target="_blank">More...</a>
        </div>
      </div>
    <% }); %>
  </section>
</main>

<%- include('../partials/footer'); %>